*.o
*.so
*.moc
*.pyc

*.gz
*.bz2
*.xz
*.dmg

*.svg
*.xml
*.htm
*.html
*.qch
*.qhc

*~
*.swp
*.old
*.ttf
*.kate-swp
.~lock*
.DS_*
*-master.tar.*
.directory
tmp
tmp/**
__pycache__/**
perf.data
gmon.out

magpie
taspaths
magpie/**
taspaths/**

Debug/**
Release/**
build/**
.clang/**
.settings/**
tmp/**

data/tmp/**
data/res/data/*
data/res/doc/**
data/res/icons/*
!data/res/icons/brillouin3d.svg
!data/res/icons/unitcell3d.svg
!data/res/icons/brillouin.svg
!data/res/icons/ellipses.svg
!data/res/icons/goto.svg
!data/res/icons/q.svg
!data/res/icons/takin.svg
!data/res/.dir
data/res/fonts/**
!data/res/icons/.dir
!data/res/data/.dir
!data/res/doc/.dir
!data/res/fonts/.dir
!data/res/conf/tools.xml
